// Footer

//- content
footer
  .container-fixed
    | Your legalize can go here.
    br
    | Template designed and created by
    | #[a(href='http://github.com/RubySometimes' target='_BLANK') RubyGuy] (GitHub)
    br
    | Released under the MIT License agreement.
    .centered.
      #[a(href='#') #[i.fa.fa-twitter-square(aria-hidden='true')]]
      #[a(href='#') #[i.fa.fa-youtube-square(aria-hidden='true')]]
      #[a(href='#') #[i.fa.fa-facebook-official(aria-hidden='true')]]