// Head section

//- includes
include variables

//- content
if serverMotto.length > 0
  title= serverName + " - " + serverMotto
else
  title= serverName
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(href='styles/main.css', rel='stylesheet')
link(href='styles/font-awesome.min.css', rel='stylesheet')